.card {
    max-width: 345px;
    padding: 20px;
}

.card .card-title-pre {
    font-size: 15px;
}

.forecast-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 1px solid yellow;
}

.forecast-list {
    border-right: 2px solid black;
    
}
